SELECT 
  ND.ND_NAME AS "中文名", 
  ND.ND_CONTACT AS "作者联系方式", 
  CASE WHEN PND.ID = 'VIRTUAL_NODE' THEN '虚拟节点' ELSE PND.ND_NAME END AS "父节点",
  COUNT(IMG.ID) AS "图片个数",
  COUNT(F.ID) AS "自定义属性个数",
  COUNT(ATTR.ID) AS "检索属性个数",
  COUNT(ATTRIMG.ID) AS "检索属性图片个数"
FROM T_NODE ND 
LEFT JOIN T_IMAGE IMG ON IMG.IMG_HEADER_ID = ND.ID
LEFT JOIN T_CUSTOMER_FIELD F ON F.FD_HEADER_ID = ND.ID
LEFT JOIN T_RETRIEVAL_DATA_SOURCE RDS ON RDS.RDS_HEADER_ID = ND.ID
LEFT JOIN T_ATTRIBUTE ATTR ON ATTR.ATTR_HEADER_ID = RDS.ID
LEFT JOIN T_IMAGE ATTRIMG ON ATTRIMG.IMG_HEADER_ID = ATTR.ID
LEFT JOIN T_RETRIEVAL_DATA_SOURCE_CHILDS RDSC ON RDSC.RDSC_HEADER_ID = RDS.ID
LEFT JOIN T_MATRIX MTX ON MTX.MTX_HEADER_ID = RDS.ID
LEFT JOIN T_MATRIX_ROW MTXROW ON MTXROW.MTXR_MATRIX_ID = MTX.ID
LEFT JOIN T_NODE PND ON ND.ND_PARENT_ID = PND.ID
GROUP BY ND.ID, ND.ND_NAME, ND.ND_CONTACT, PND.ID, PND.ND_NAME;